.form {
    background-color: #f8dec7;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 8px 5px 5px #b1a294;
    padding: 70px 0;
    font-family: 'Inter', Arial, sans-serif;
}

.form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__label {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.form__input {
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    width: 220px;
    padding-left: 6px;
}

.form__submit-button {
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    margin-top: auto;
    background-color: #dd873c;
    color: #ffffff;
    font-size: 22px;
    transition: background-color 0.3s ease-in-out;
}

.form__submit-button:hover {
    background-color: #c9762e;
}

.form__submit-button:active {
    background-color: #b16624;
}
